# Folders
minidlna/art_cache
minidlna/backup/art_cache
emacs

# GIMP
GIMP/2.10/*
!GIMP/2.10/filters
!GIMP/2.10/patterns

# BINS
alacritty/alacritty
awesome/awesome
btop/btop
btop/btop.conf
doom/doom
fastfetch/fastfetch
GIMP/GIMP
htop/htop
hypr/hypr
i3/i3
i3blocks/i3blocks
kitty/kitty
lf/lf
lsd/lsd
minidlna/minidlna
mpv/mpv
picom/picom
qt5ct/qt5ct
qtile/qtile
ranger/ranger
sxiv/sxiv
tmux/tmux
vlc/vlc
zathura/zathura
nitrogen/bg-saved.cfg
nitrogen/nitrogen

# Logs
*.log
