layout {
    background-color "transparent"

    focus-ring {
        active-color   "#ebb3f5"
        inactive-color "#989178"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ebb3f5"
        inactive-color "#989178"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ebb3f5"
        inactive-color "#989178"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ebb3f580"
    }
}